 /* General Styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9dfbe;
    padding: 10px 20px;
    color: rgb(31, 28, 28);
  }
  
  header .logo img {
    width: 60px;
    height: auto;
  }
  
  header .search-bar {
    display: flex;
    align-items: center;
  }
  
  header .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  header .search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #555;
    color: rgb(34, 29, 29);
    border-radius: 3px;
    cursor: pointer;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li a {
    color: rgb(46, 41, 41);
    text-decoration: none;
  }
  
  header .user-actions button {
    background-color: #007bff;
    color: rgb(41, 38, 38);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  