body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-header {
  position: sticky;
  top: 0; /* This sets the header to stick to the top of the viewport */
  z-index: 100;
}
mat-card {
  cursor: pointer;
  transition: transform 0.3s;
}

mat-card:hover {
  transform: scale(1.05);
}

.mat-card-image {
  height: 100px;
  object-fit: cover;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}
// ========================================================================
// ========================================================================
.categories-container {
  display: flex;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed for spacing */
  gap: 15px; /* Adjust the gap between items as needed */
}

.category {
  box-sizing:content-box;
  margin-bottom: 20px;
  padding: 10px;
  width: 130px;
  height: 160px;
  background-color: transparent;
  border:none;
  border-radius: 10px;
  text-align: center;

  img {
    width: 100%;
    height: 80%;
    cursor: pointer;
    transition: transform 0.3s;
    object-fit: cover;
    border-radius: 70px;
    display: block;
    margin: 0 auto 10px;
  }
  h2 {
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #2d2d2d;
    font-weight: normal;
  }
}
// --------------------------------------------------------------------------
// -------------------------------------------------------------------------
.popular-container {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around; /* Adjust as needed for spacing */
  gap: 5px;
}

.popular-container h3 {
  display: block;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #2d2d2d;
  font-weight: 600;
  letter-spacing: .007em;
  text-align: center;
  margin-bottom: 20px;
}

.popular-grid {
  display: flex;
  overflow: hidden; /* Hide the scrollbar */
  white-space: nowrap;
}

.op {
  display: flex;
  object-fit: cover;
  height: 700px;
  gap: 5px;
  animation: scroll 15s linear infinite; /* Animation to scroll items */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.popular {
  flex: 0 0 calc(25.5% - 20px); /* Adjust the percentage for the number of items per row and the gap */
  box-sizing:border-box;
  margin-bottom: 20px;
  width: 400px;
  height: 550px;
  object-fit:cover;
  background-color: transparent;
  max-width: calc(25.5% - 10px);;
  transition: transform 0.3s;
  border: none;
  border-radius: 10px;
  gap: 5px;
  text-align: center;
}

.popular img {
  width: 100%;
  object-fit:cover;
  border-radius: 20px;
  display: block;
  gap:3px;
  margin: 0 auto 10px;
  cursor: pointer;
}

.popular img:hover {
  opacity: 0.9; /* Slightly change the opacity on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
  overflow: hidden;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.popular-image {
  gap: 5px;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.category-name {
  position: absolute;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  letter-spacing: .007em;
  text-align: center;
  top: 250px;
  left: 0;
  right: 0;
  background: transparent; /* Semi-transparent background */
  // padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .popular-image {
  transform: scale(1.1); /* Slight zoom-in effect */
}
.image-container:hover .category-name {
  opacity: 1; /* Show the category name on hover */
}
// -----------------------------------------------------------------------------
.pop-container{
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around; /* Adjust as needed for spacing */
  gap: 5px;
}
.pop-container::-webkit-scrollbar-button{
  display: inline;
}
.pop-container h3 {
  display: block;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #2d2d2d;
  font-weight: 600;
  letter-spacing: .007em;
  text-align: center;
  margin-bottom: 20px;
}

.pop-grid {
  display: flex;
  overflow: hidden; /* Hide the scrollbar */
  white-space: nowrap;
}

.opo {
  display: flex;
  object-fit: cover;
  height: 700px;
  gap: 5px;
  // animation: scroll 15s linear infinite; /* Animation to scroll items */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.pop {
  flex: 0 0 calc(25.5% - 20px); /* Adjust the percentage for the number of items per row and the gap */
  box-sizing:border-box;
  margin-bottom: 20px;
  width: 400px;
  height: 550px;
  object-fit:cover;
  background-color: transparent;
  max-width: calc(25.5% - 10px);;
  transition: transform 0.3s;
  border: none;
  border-radius: 10px;
  gap: 5px;
  text-align: center;
}

.pop img {
  width: 100%;
  object-fit:cover;
  border-radius: 20px;
  display: block;
  gap:3px;
  margin: 0 auto 10px;
  cursor: pointer;
}

.pop img:hover {
  opacity: 0.9; /* Slightly change the opacity on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
  overflow: hidden;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.pop-image {
  gap: 5px;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.category-name {
  position: absolute;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  letter-spacing: .007em;
  text-align: center;
  top: 250px;
  left: 0;
  right: 0;
  background: transparent; /* Semi-transparent background */
  // padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .popular-image {
  transform: scale(1.1); /* Slight zoom-in effect */
}
.image-container:hover .category-name {
  opacity: 1; /* Show the category name on hover */
}
// ------------------------------------------------------------------------------
  .best-container{
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    background-color: transparent;
    justify-content: space-around; 
    gap: 15px;
  }

  .best-container h3 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #2d2d2d;
    font-weight: 600;
    letter-spacing: .007em;
    justify-content: center;
    gap: 25px;
    line-height: 1.1428571429;
  }

  

.best {
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed for spacing */
  gap: 15px; /* Adjust the gap between items as needed */
}

button{
  position: fixed;
  right: 30px;
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #b7b7b7;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button mat-icon{
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 45px;
}

.my-4{
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #2d2d2d;
  margin-left: 550px;
  font-weight: 600;
  letter-spacing: .007em;
  justify-content: center;
  gap: 25px;
  line-height: 1.1428571429;
}
.h-100{
  width: 100%;
}

.product-image {
  height: 300px; /* Set the desired height */
  object-fit: cover; /* This ensures the image covers the entire area */
  width: 100%; /* Make sure the width is 100% to fit the card */
}
  .h-100:hover {
  opacity: 0.9; /* Slightly change the opacity on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  cursor: pointer;
  } 
 
  .btn-primary {
    width: 350px;
    margin-left: 16px;
    background-color: #111;
  }
// =============================================================================

  .cart-itemr {
    // text-align: center;
    // line-height: 45px;
    background: transparent;
    transition: all 1s ease-in-out;
    opacity: 0;
    position: relative;
    top: -294px;
    margin-right: 22rem;
    height: min-content;
  }

  .cart-itemr ul{
    padding: 0;
    margin: 0;
  }
  .cart-itemr ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
   
  }
  .cart-itemr ul li::after{
    content: '';
    width: 1px;
    // height: 5px;
    background-color: rgba(255, 255, 255, .15);
    position: absolute;
    left: -2px;
    top: 10px;
  } 
  .cart-itemr ul li:first-child:after{
    display: none;
  }
  .cart-itemr ul li a{
    padding: 0 18px;
    color: #111;
  }
  .cart-itemr ul li a:hover{
    color: rgb(255, 29, 29);
  }
  .card:hover .cart-itemr{
    opacity: 1;
  }

  .cart-iteml {
    // text-align: center;
    // line-height: 45px;
    background: transparent;
    transition: all 1s ease-in-out;
    opacity: 0;
    height: min-content;
    position: relative;
    top: -325px;
    margin-left: 22rem;
  }

  .cart-iteml ul{
    padding: 0;
    margin: 0;
  }
  .cart-iteml ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
   
  }
  .cart-iteml ul li::after{
    content: '';
    width: 1px;
    // height: 5px;
    background-color: rgba(255, 255, 255, .15);
    position: absolute;
    left: -2px;
    top: 10px;
  } 
  .cart-iteml ul li:first-child:after{
    display: none;
  }
  .cart-iteml ul li a{
    padding: 0 18px;
    color: #111;
  }
  .cart-iteml ul li a:hover{
    color: rgb(255, 29, 29);
  }
  .card:hover .cart-iteml{
    opacity: 1;
  }
  .card-text{
    text-align: center;
  }
  