<app-header></app-header>
<body>
  <div class="categories-container">
    <div *ngFor="let category of filteredCategories" class="category" (click)="navigateToProductPage(category.category_id)">
      <img [src]="category.image" alt="{{ category.category_name }}">
      <h2>{{ category.category_name }}</h2>   
    </div>
  </div>

  <div class="popular-container">
    <h3>Popular Items</h3>
    <div class="popular-grid">
      <div class="op">
        <div *ngFor="let category of categories" class="popular" (click)="navigateToProductPage(category.category_id)">
          <div class="image-container">
            <img [src]="category.image" alt="{{ category.category_name }}" class="popular-image">
            <div class="category-name">{{ category.category_name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="pop-container">
    <h3>Popular Items</h3>
    <div class="pop-grid">
      <div class="opo">
        <div *ngFor="let category of categories" class="pop" (click)="navigateToProductPage(category.category_id)">
          <div class="image-container">
            <img [src]="category.image" alt="{{ category.category_name }}" class="popular-image">
            <div class="category-name">{{ category.category_name }}</div>
          </div>
        </div>
      </div>
      <div class="btn-pop">
        <button type="buttton" class="prec">prev</button>
        <button type="buttton" class="precc">nxt</button>
      </div>
    </div>
  </div>

  
  <div class="best-container">
    <h3>Best Items</h3> 
    <div class="best-grid">
      <div class="best"><div *ngFor="let category of categories" class="bestt" (click)="navigateToProductPage(category.category_id)">     
        <img [src]="category.image" alt="{{ category.category_name }}">
      <h2>{{ category.category_name }}</h2>   
    </div>
  </div>
  </div>
  </div>

  <div class="container">
    <h1 class="my-4">Product List</h1>
    <div class="row">
      <div *ngFor="let category of categories" class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <img [src]="category.image" class="card-img-top product-image" >
          <div class="cart-itemr">
            <ul>
              <li><a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a></li>
              <!-- <li><a routerLink="/wishlist"><mat-icon>favorite_border</mat-icon></a></li> -->
            </ul>
          </div>
          <div class="cart-iteml">
            <ul>
              <!-- <li><a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a></li> -->
              <li><a routerLink="/wishlist"><mat-icon>favorite_border</mat-icon></a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{category.title}}</h5>
            <p class="card-text">{{category.description}}</p>
            <p class="card-text"><strong>$</strong></p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>

        </div>
      </div>
    </div>
  </div>
   
 
  <app-footer></app-footer>