<header>
  <div class="logo">
    <img src="assets/logo.JPG"  width="60" height="auto">
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Search for anything">
    <button>🔍</button>
  </div>
  <nav>
    <ul>
      <li><a href="#">Categories</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Cart</a></li>
      <li><a href="#">wishlist</a></li>
      
       
    </ul>
  </nav>
  <div class="user-actions">
    <button mat-button (click)="openLoginDialog()">Sign In</button>
  </div>
</header>
<body>
  <div class="categories-container">
    <div class="category" *ngFor="let category of categories">
      <h2>{{ category.category_name }}</h2>
      <img [src]="category.image" alt="{{ category.category_name }}">
      <p>{{ category.description }}</p>
    </div>
  </div>
</body>
