 /* Center the modal content horizontally and vertically */
:host {
  width: 100%;
  justify-content: center;
  padding: 30px 40px;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

mat-dialog-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 50%;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5em;
}

mat-form-field {
  width: 100%;
  padding: 20px 40px; 
  display: center;
  max-width: 100%;
  box-sizing: border-box;
}

button {
  align-items: center;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.success {
  color: green;
}
.error {
  color: red;
}
