<div class="container mt-4">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="categoryName">Category Name</label>
        <input type="text" class="form-control" id="categoryName" [(ngModel)]="category.category_name" name="category_name" required>
      </div>
  
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" (change)="onFileChange($event)" required>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="category.description" name="description" required></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
  </div>
  