/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
  }
  
  button[mat-raised-button] {
    margin-top: 20px;
  }
  