.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  width: 70%;
}

.cart-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-image {
  width: 100px;
}

.header-name,
.header-price,
.header-quantity,
.header-remove { /* New */
  flex: 1;
  display: flex;
  align-items: center;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.item-image img {
  width: 100px;
  height: 100px;
}

.item-details {
  display: flex;
  flex: 1;
  align-items: center;
}

.item-name {
  flex: 1;
}

.item-price {
  flex: 1;
}

.item-quantity {
  display: flex;
  align-items: center;
}

.item-quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.item-quantity span {
  margin: 0 10px;
}

.item-remove {  
  display: flex;
  align-items: center;
}

.item-remove button {  
  padding: 5px 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.item-remove button:hover {  
  background-color: #cc0000;
}

.cart-total {
  width: 25%;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.cart-total div {
  margin-bottom: 10px;
}

.cart-total button {
  width: 100%;
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.empty-cart{
  // width:500px;
  // background-color: #ffa500;
  height: 300px;
  margin-top: 250px;
  
  justify-content: center;
  
}



.empty-cart h2{
  
  margin-left: 665px;
  font-size: 24px;
  color: rgb(0, 19, 37);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
}


.empty-cart  button{
      
    margin-left: 650px;
    justify-content: center;
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
    border-color: #2d2d2d;
    background-color: #2d2d2d;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 15%;
    gap: 3px;
    
    }
